.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.6;
}
.lights img {
    width: 100%;
    height: auto;
}
.cartoon img {
    display: block; /* Ensures the element behaves like a block-level element */
    margin: 5vw auto; /* Centers the image horizontally */
    width: 80%; 
    height: auto;
}
.content img {
    width: 100%;
    height: auto;
    margin: 5vw auto;
}
.carousel-image img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.flickity-page-dots {
    bottom: 5px;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}