.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
}
.background {
    position: fixed; /* Fix it to the viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: #fff;
    z-index: -1; /* Place it behind other content */
}
header {
    display: flex;
    justify-content: space-between;
}
.lights img {
    width: 100%;
    height: auto;
}
.cartoon img {
    display: block; /* Ensures the element behaves like a block-level element */
    margin: 5vw auto; /* Centers the image horizontally */
    width: 80%; 
    height: auto;
}
.content img {
    width: 100%;
    height: auto;
    margin: 3vw auto;
}
.carousel-image img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.flickity-page-dots {
    bottom: 5px;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
